In [103]:
%matplotlib inline

# Import Dependencies
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [104]:

#Files to load
oregon_data_to_load = os.path.join("..","Resources","Data","Oregon_OR.csv")
hh_data_to_load = os.path.join("..","Resources","Data","asecpub21csv","hhpub21.csv")

In [105]:
# Read CSV file into DataFrame
oregon_df = pd.read_csv(oregon_data_to_load,low_memory=False)
oregon_df

,FILEID,STUSAB,SUMLEV,GEOVAR,GEOCOMP,CHARITER,CIFSN_x,LOGRECNO,GEOID,GEOCODE,...,P0050001,P0050002,P0050003,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,P0050010
0,PLST,OR,50,00,0,0,0,2,0500000US41001,41001,...,452,373,373,0,0,0,79,0,0,79
1,PLST,OR,50,00,0,0,0,3,0500000US41003,41003,...,6464,241,28,43,165,5,6223,5453,0,770
2,PLST,OR,50,00,0,0,0,4,0500000US41005,41005,...,3918,2244,270,77,1852,45,1674,0,0,1674
3,PLST,OR,50,00,0,0,0,5,0500000US41007,41007,...,530,116,49,0,59,8,414,76,85,253
4,PLST,OR,50,00,0,0,0,6,0500000US41009,41009,...,504,182,136,0,46,0,322,0,0,322
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155651,PLST,OR,970,00,0,0,0,155653,9700000US4113490,4113490,...,35,0,0,0,0,0,35,0,0,35
155652,PLST,OR,970,00,0,0,0,155654,9700000US4113530,4113530,...,443,299,0,195,104,0,144,0,0,144
155653,PLST,OR,970,00,0,0,0,155655,9700000US4113650,4113650,...,6,0,0,0,0,0,6,0,0,6
155654,PLST,OR,970,00,0,0,0,155656,9700000US4199997,4199997,...,0,0,0,0,0,0,0,0,0,0
155655,PLST,OR,970,00,0,0,0,155657,9700000US4199999,4199999,...,12,0,0,0,0,0,12,0,0,12

In [106]:
# Select only the rows corresponding to county data (SUMLEV = 50). There are 36 counties in oregon so we should see 36 rows.
oregon_counties_df = oregon_df.loc[oregon_df["SUMLEV"]==50]
oregon_counties_df

,FILEID,STUSAB,SUMLEV,GEOVAR,GEOCOMP,CHARITER,CIFSN_x,LOGRECNO,GEOID,GEOCODE,...,P0050001,P0050002,P0050003,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,P0050010
0,PLST,OR,50,00,0,0,0,2,0500000US41001,41001,...,452,373,373,0,0,0,79,0,0,79
1,PLST,OR,50,00,0,0,0,3,0500000US41003,41003,...,6464,241,28,43,165,5,6223,5453,0,770
2,PLST,OR,50,00,0,0,0,4,0500000US41005,41005,...,3918,2244,270,77,1852,45,1674,0,0,1674
3,PLST,OR,50,00,0,0,0,5,0500000US41007,41007,...,530,116,49,0,59,8,414,76,85,253
4,PLST,OR,50,00,0,0,0,6,0500000US41009,41009,...,504,182,136,0,46,0,322,0,0,322
5,PLST,OR,50,00,0,0,0,7,0500000US41011,41011,...,1339,562,328,13,221,0,777,171,11,595
6,PLST,OR,50,00,0,0,0,8,0500000US41013,41013,...,175,82,40,0,42,0,93,0,0,93
7,PLST,OR,50,00,0,0,0,9,0500000US41015,41015,...,190,83,14,0,60,9,107,0,4,103
8,PLST,OR,50,00,0,0,0,10,0500000US41017,41017,...,1709,880,164,71,645,0,829,125,0,704
9,PLST,OR,50,00,0,0,0,11,0500000US41019,41019,...,1653,580,166,34,321,59,1073,0,19,1054
10,PLST,OR,50,00,0,0,0,12,0500000US41021,41021,...,22,22,0,0,22,0,0,0,0,0
11,PLST,OR,50,00,0,0,0,13,0500000US41023,41023,...,65,56,7,0,49,0,9,0,0,9
12,PLST,OR,50,00,0,0,0,14,0500000US41025,41025,...,139,101,35,0,66,0,38,0,0,38
13,PLST,OR,50,00,0,0,0,15,0500000US41027,41027,...,363,120,0,19,101,0,243,0,0,243
14,PLST,OR,50,00,0,0,0,16,0500000US41029,41029,...,3259,910,285,27,598,0,2349,1183,0,1166
15,PLST,OR,50,00,0,0,0,17,0500000US41031,41031,...,1102,1017,997,0,20,0,85,19,0,66
16,PLST,OR,50,00,0,0,0,18,0500000US41033,41033,...,1481,815,234,24,557,0,666,0,0,666
17,PLST,OR,50,00,0,0,0,19,0500000US41035,41035,...,1023,190,82,22,79,7,833,525,0,308
18,PLST,OR,50,00,0,0,0,20,0500000US41037,41037,...,541,512,481,0,31,0,29,13,0,16
19,PLST,OR,50,00,0,0,0,21,0500000US41039,41039,...,13161,1760,294,129,1178,159,11401,5240,0,6161
20,PLST,OR,50,00,0,0,0,22,0500000US41041,41041,...,589,256,94,16,146,0,333,212,11,110
21,PLST,OR,50,00,0,0,0,23,0500000US41043,41043,...,1430,844,196,67,581,0,586,0,0,586
22,PLST,OR,50,00,0,0,0,24,0500000US41045,41045,...,3177,2992,2922,0,70,0,185,46,0,139
23,PLST,OR,50,00,0,0,0,25,0500000US41047,41047,...,10662,5934,3955,290,1203,486,4728,2269,0,2459
24,PLST,OR,50,00,0,0,0,26,0500000US41049,41049,...,31,0,0,0,0,0,31,0,0,31
25,PLST,OR,50,00,0,0,0,27,0500000US41051,41051,...,22175,5042,1448,230,3098,266,17133,5515,0,11618
26,PLST,OR,50,00,0,0,0,28,0500000US41053,41053,...,2063,552,35,25,440,52,1511,1100,0,411
27,PLST,OR,50,00,0,0,0,29,0500000US41055,41055,...,0,0,0,0,0,0,0,0,0,0
28,PLST,OR,50,00,0,0,0,30,0500000US41057,41057,...,418,329,225,41,63,0,89,0,15,74
29,PLST,OR,50,00,0,0,0,31,0500000US41059,41059,...,4549,4060,3691,0,352,17,489,0,0,489
30,PLST,OR,50,00,0,0,0,32,0500000US41061,41061,...,352,161,18,17,126,0,191,116,0,75
31,PLST,OR,50,00,0,0,0,33,0500000US41063,41063,...,62,30,0,0,30,0,32,0,0,32
32,PLST,OR,50,00,0,0,0,34,0500000US41065,41065,...,670,411,96,12,303,0,259,0,0,259
33,PLST,OR,50,00,0,0,0,35,0500000US41067,41067,...,7266,3669,1917,290,1438,24,3597,1044,0,2553
34,PLST,OR,50,00,0,0,0,36,0500000US41069,41069,...,11,0,0,0,0,0,11,11,0,0
35,PLST,OR,50,00,0,0,0,37,0500000US41071,41071,...,5385,2372,1854,39,479,0,3013,2246,0,767

In [107]:
#We are interested in the keeping columns relating to Population, Housing Count, 
# "NAME":"County Name"
# GEOID - code with last 5 digits equal to state fips + 0(0) + county fips
# "P0010001":"Total Population"
# "P0010003": "White alone"
# "P0010004": Black alone
# "P0010005": American Indian and Alaska Native Alone
# "P0010006": Asian Alone
# "P0010007": Native Hawaiian and Other Pacific Islander alone
# "P0010008":  Some other race alone
# "P0010009":"Population of 2 or more races"
# "P0020002":"Total Population: Hispanic Or Latino"
# "P0020003":"Total Population: Not Hispanic or Latino"

# See more: https://www2.census.gov/census_2010/01-Redistricting_File--PL_94-171/0FILE_STRUCTURE.pdf

col=["NAME","GEOCODE","P0010001","P0010003","P0010004","P0010005","P0010006",
                "P0010007","P0010008","P0010009","P0020002","P0020003"]

oregon_counties_pop_df = oregon_counties_df.loc[:,col]
oregon_counties_pop_df.head()

,NAME,GEOCODE,P0010001,P0010003,P0010004,P0010005,P0010006,P0010007,P0010008,P0010009,P0020002,P0020003
0,Baker County,41001,16668,14936,77,186,66,21,349,1033,809,15859
1,Benton County,41003,95184,74612,1002,819,6428,292,3139,8892,8524,86660
2,Clackamas County,41005,421401,334855,4554,3510,20699,1117,16123,40543,40342,381059
3,Clatsop County,41007,41072,34525,226,431,564,104,1627,3595,3848,37224
4,Columbia County,41009,52589,45243,323,733,583,121,1004,4582,3070,49519

In [108]:
# Calculate non-white population
oregon_counties_pop_df["Non-White"] = oregon_counties_pop_df[["P0010004","P0010005","P0010006","P0010007","P0010008","P0010009"]].sum(axis=1)

In [109]:
oregon_counties_pop_df.drop(columns=["P0010004","P0010005","P0010006","P0010007","P0010008","P0010009"],inplace=True)
oregon_counties_pop_df

,NAME,GEOCODE,P0010001,P0010003,P0020002,P0020003,Non-White
0,Baker County,41001,16668,14936,809,15859,1732
1,Benton County,41003,95184,74612,8524,86660,20572
2,Clackamas County,41005,421401,334855,40342,381059,86546
3,Clatsop County,41007,41072,34525,3848,37224,6547
4,Columbia County,41009,52589,45243,3070,49519,7346
5,Coos County,41011,64929,54930,4292,60637,9999
6,Crook County,41013,24738,21349,1803,22935,3389
7,Curry County,41015,23446,19925,1674,21772,3521
8,Deschutes County,41017,198253,169137,17237,181016,29116
9,Douglas County,41019,111201,96048,6654,104547,15153
10,Gilliam County,41021,1995,1770,107,1888,225
11,Grant County,41023,7233,6523,283,6950,710
12,Harney County,41025,7495,6566,394,7101,929
13,Hood River County,41027,23977,16381,7148,16829,7596
14,Jackson County,41029,223259,178193,30399,192860,45066
15,Jefferson County,41031,24502,15992,5002,19500,8510
16,Josephine County,41033,88090,75344,7037,81053,12746
17,Klamath County,41035,69413,54494,8772,60641,14919
18,Lake County,41037,8160,6691,802,7358,1469
19,Lane County,41039,382971,309194,37780,345191,73777
20,Lincoln County,41041,50395,40624,4851,45544,9771
21,Linn County,41043,128610,107700,12571,116039,20910
22,Malheur County,41045,31571,21619,10320,21251,9952
23,Marion County,41047,345920,233321,95740,250180,112599
24,Morrow County,41049,12186,7472,4988,7198,4714
25,Multnomah County,41051,815428,556202,103753,711675,259226
26,Polk County,41053,87433,68274,12730,74703,19159
27,Sherman County,41055,1870,1643,119,1751,227
28,Tillamook County,41057,27390,22620,2946,24444,4770
29,Umatilla County,41059,80075,53461,22622,57453,26614
30,Union County,41061,26196,22565,1347,24849,3631
31,Wallowa County,41063,7391,6673,257,7134,718
32,Wasco County,41065,26670,19821,5017,21653,6849
33,Washington County,41067,600372,385455,107642,492730,214917
34,Wheeler County,41069,1451,1271,84,1367,180
35,Yamhill County,41071,107722,83667,17793,89929,24055

In [110]:
# Rename the columns
# "P0010001":"Total Population"
# "P0010002" - Population of one race
# "P0010003": "White alone"
# "P0010004": Black alone
# "P0010005": American Indian and Alaska Native Alone
# "P0010006": Asian Alone
# "P0010007": Native Hawaiian and Other Pacific Islander alone
# "P0010008":  Some other race alone
# "P0010009":"Population of 2 or more races"
# "P0020002":"Total Population: Hispanic Or Latino"
# "P0020003":"Total Population: Not Hispanic or Latino"
# "P0020005": Total Population: Not Hispanic or Latino: White alone
# "P0020006":  Total Population: Not Hispanic or Latino: Black or African American alone
# "P0020007":  Total Population: Not Hispanic or Latino: American Indian and Alaska Native alone
# "P0020008":  Total Population: Not Hispanic or Latino: Asian alone
# "P0020009":  Total Population: Not Hispanic or Latino: Native Hawaiian and Other Pacific Islander alone 
# "P0020010": Total Population: Not Hispanic or Latino: Some other race alone
# "P0020011": Total Population: Not Hispanic or Latino: Population of two or more races
oregon_counties_pop_df.rename(columns={"NAME": "County",
                                        "P0010001":"Total Population",
                                        "P0010003":"White",
                                        "P0020002":"Hispanic",
                                        "P0020003":"Not Hispanic",
                                        },inplace=True)
#oregon_counties_pop_df

In [111]:
# oregon_counties_pop_df = oregon_counties_pop_df[["County","GEOCODE","Total Population","White","Non-White","Hispanic","Not Hispanic"]]
# oregon_counties_pop_df

In [112]:
# Add columns for percentage of each race/ethnicity
oregon_counties_pop_df["% White"] = oregon_counties_pop_df["White"]/oregon_counties_pop_df["Total Population"]
oregon_counties_pop_df["% Non-White"] = oregon_counties_pop_df["Non-White"]/oregon_counties_pop_df["Total Population"]
oregon_counties_pop_df["% Hispanic"] = oregon_counties_pop_df["Hispanic"]/oregon_counties_pop_df["Total Population"]
oregon_counties_pop_df["% Not Hispanic"] = oregon_counties_pop_df["Not Hispanic"]/oregon_counties_pop_df["Total Population"]

In [123]:
# show final dataframe
#oregon_counties_pop_df = oregon_counties_pop_df[["County","GEOCODE","Total Population","White","% White","Non-White","% Non-White","Hispanic","% Hispanic","Not Hispanic","% Not Hispanic"]]
oregon_counties_pop_df

,County,GEOCODE,Total Population,White,% White,Non-White,% Non-White,Hispanic,% Hispanic,Not Hispanic,% Not Hispanic
0,Baker County,41001,16668,14936,0.896088,1732,0.103912,809,0.048536,15859,0.951464
1,Benton County,41003,95184,74612,0.783871,20572,0.216129,8524,0.089553,86660,0.910447
2,Clackamas County,41005,421401,334855,0.794623,86546,0.205377,40342,0.095733,381059,0.904267
3,Clatsop County,41007,41072,34525,0.840597,6547,0.159403,3848,0.093689,37224,0.906311
4,Columbia County,41009,52589,45243,0.860313,7346,0.139687,3070,0.058377,49519,0.941623
5,Coos County,41011,64929,54930,0.846001,9999,0.153999,4292,0.066103,60637,0.933897
6,Crook County,41013,24738,21349,0.863004,3389,0.136996,1803,0.072884,22935,0.927116
7,Curry County,41015,23446,19925,0.849825,3521,0.150175,1674,0.071398,21772,0.928602
8,Deschutes County,41017,198253,169137,0.853137,29116,0.146863,17237,0.086944,181016,0.913056
9,Douglas County,41019,111201,96048,0.863733,15153,0.136267,6654,0.059838,104547,0.940162
10,Gilliam County,41021,1995,1770,0.887218,225,0.112782,107,0.053634,1888,0.946366
11,Grant County,41023,7233,6523,0.901839,710,0.098161,283,0.039126,6950,0.960874
12,Harney County,41025,7495,6566,0.876051,929,0.123949,394,0.052568,7101,0.947432
13,Hood River County,41027,23977,16381,0.683196,7596,0.316804,7148,0.298119,16829,0.701881
14,Jackson County,41029,223259,178193,0.798145,45066,0.201855,30399,0.136160,192860,0.863840
15,Jefferson County,41031,24502,15992,0.652681,8510,0.347319,5002,0.204147,19500,0.795853
16,Josephine County,41033,88090,75344,0.855307,12746,0.144693,7037,0.079884,81053,0.920116
17,Klamath County,41035,69413,54494,0.785069,14919,0.214931,8772,0.126374,60641,0.873626
18,Lake County,41037,8160,6691,0.819975,1469,0.180025,802,0.098284,7358,0.901716
19,Lane County,41039,382971,309194,0.807356,73777,0.192644,37780,0.098650,345191,0.901350
20,Lincoln County,41041,50395,40624,0.806112,9771,0.193888,4851,0.096260,45544,0.903740
21,Linn County,41043,128610,107700,0.837415,20910,0.162585,12571,0.097745,116039,0.902255
22,Malheur County,41045,31571,21619,0.684774,9952,0.315226,10320,0.326882,21251,0.673118
23,Marion County,41047,345920,233321,0.674494,112599,0.325506,95740,0.276769,250180,0.723231
24,Morrow County,41049,12186,7472,0.613163,4714,0.386837,4988,0.409322,7198,0.590678
25,Multnomah County,41051,815428,556202,0.682098,259226,0.317902,103753,0.127237,711675,0.872763
26,Polk County,41053,87433,68274,0.780872,19159,0.219128,12730,0.145597,74703,0.854403
27,Sherman County,41055,1870,1643,0.878610,227,0.121390,119,0.063636,1751,0.936364
28,Tillamook County,41057,27390,22620,0.825849,4770,0.174151,2946,0.107558,24444,0.892442
29,Umatilla County,41059,80075,53461,0.667637,26614,0.332363,22622,0.282510,57453,0.717490
30,Union County,41061,26196,22565,0.861391,3631,0.138609,1347,0.051420,24849,0.948580
31,Wallowa County,41063,7391,6673,0.902855,718,0.097145,257,0.034772,7134,0.965228
32,Wasco County,41065,26670,19821,0.743195,6849,0.256805,5017,0.188114,21653,0.811886
33,Washington County,41067,600372,385455,0.642027,214917,0.357973,107642,0.179292,492730,0.820708
34,Wheeler County,41069,1451,1271,0.875948,180,0.124052,84,0.057891,1367,0.942109
35,Yamhill County,41071,107722,83667,0.776694,24055,0.223306,17793,0.165175,89929,0.834825

## Clean Income Data for Oregon

In [114]:
hh_df = pd.read_csv(hh_data_to_load)

In [115]:
#pick out the columns we need
# HHINC - househld income category (0-41)
# 1=UNDER $2,500
# 2=$2,500 TO $4,999
# 3=$5,000 TO $7,499
# 4=$7,500 TO $9,999
# 5=$10,000 TO $12,499
# 6=$12,500 TO $14,999
# 7=$15,000 TO $17,499
# 8=$17,500 TO $19,999
# 9=$20,000 TO $22,499
# 10=$22,500 TO $24,999
# 11=$25,000 TO $27,499
# 12=$27,500 TO $29,999
# 13=$30,000 TO $32,499
# 14=$32,500 TO $34,999
# 15=$35,000 TO $37,499
# 16=$37,500 TO $39,999
# 17=$40,000 TO $42,499
# 18=$42,500 TO $44,999
# 19=$45,000 TO $47,499
# 20=$47,500 TO $49,999
# 21=$50,000 TO $52,499
# 22=$52,500 TO $54,999
# 23=$55,000 TO $57,499
# 24=$57,500 TO $59,999
# 25=$60,000 TO $62,499
# 26=$62,500 TO $64,999
# 27=$65,000 TO $67,499
# 28=$67,500 TO $69,999
# 29=$70,000 TO $72,499
# 30=$72,500 TO $74,999
# 31=$75,000 TO $77,499
# 32=$77,500 TO $79,999
# 33=$80,000 TO $82,499
# 34=$82,500 TO $84,999
# 35=$85,000 TO $87,499
# 36=$87,500 TO $89,999
# 37=$90,000 TO $92,499
# 38=$92,500 TO $94,999
# 39=$95,000 TO $97,499
# 40=$97,500 TO $99,999
# 41=$100,000 AND OVER
# GESTFIPS - state FIPS code
# GTCO - FIPS code for county
# HTOTVAL - householdincome VALUE

household_df = hh_df.loc[:,["HHINC","GESTFIPS","GTCO","HTOTVAL"]]
household_df

       HHINC  GESTFIPS  GTCO  HTOTVAL
0         11        23     0    27100
1         41        23     0   106123
2          7        23     0    17340
3          0        23     0        0
4          0        23     0        0
...      ...       ...   ...      ...
90754     41        15     3   165015
90755     25        15     3    60000
90756      9        15     3    22093
90757     41        15     3   110800
90758     24        15     3    59803

[90759 rows x 4 columns]

In [116]:
# Rename the columns
household_df.rename(columns={
    "HHINC":"Household Income Category",
    "GESTFIPS":"State FIPS",
    "GTCO":"County Fips",
    "HTOTVAL":"Household Income $"
},inplace=True)
household_df.sample(n=10)

       Household Income Category  State FIPS  County Fips  Household Income $
77875                          0          32            3                   0
23780                         41          55          101              151020
2581                           0          50            0                   0
90256                          0          15            3                   0
6771                          41           9            0              242702
51581                          4          47           93                9769
1564                           0          33           15                   0
67536                          0          30            0                   0
65669                         15          48            0               36000
30230                         40          31           55               97522

In [117]:
# Show Oregon data only
household_income_oregon = household_df.loc[household_df["State FIPS"]==41]
household_income_oregon

       Household Income Category  State FIPS  County Fips  Household Income $
79749                         41          41            0              119500
79750                         30          41            0               74805
79751                         23          41            0               57064
79752                         36          41            0               89102
79753                         41          41            0              184002
...                          ...         ...          ...                 ...
81023                         41          41            0              112111
81024                         41          41            0              101627
81025                         27          41            0               65114
81026                         27          41            0               65000
81027                          8          41            0               19896

[1279 rows x 4 columns]

In [118]:
# Filter on Lane County (the only data for Oregon)
household_income_lane_oregon = household_income_oregon.loc[household_income_oregon["County Fips"]==39]
household_income_lane_oregon

       Household Income Category  State FIPS  County Fips  Household Income $
80108                         17          41           39               42055
80109                         28          41           39               69913
80110                         21          41           39               50800
80111                         16          41           39               39855
80112                          0          41           39                   0
...                          ...         ...          ...                 ...
80220                         22          41           39               53341
80221                         41          41           39              112200
80222                         41          41           39              129404
80223                         15          41           39               36300
80224                         41          41           39              170000

[117 rows x 4 columns]

In [119]:
household_income_lane_oregon.describe()

       Household Income Category  State FIPS  County Fips  Household Income $
count                 117.000000       117.0        117.0          117.000000
mean                   20.461538        41.0         39.0        67452.572650
std                    16.403605         0.0          0.0        76641.784909
min                     0.000000        41.0         39.0            0.000000
25%                     0.000000        41.0         39.0            0.000000
50%                    20.000000        41.0         39.0        48022.000000
75%                    41.000000        41.0         39.0       100731.000000
max                    41.000000        41.0         39.0       460002.000000

In [127]:
hhi_lane = household_income_lane_oregon["Household Income $"].median()

## Combine the dataframes

In [139]:
# filter demographic dataframe to be just lane county
lane_county_df = oregon_counties_pop_df.loc[oregon_counties_pop_df["County"]=="Lane County"]
lane_county_df

,County,GEOCODE,Total Population,White,% White,Non-White,% Non-White,Hispanic,% Hispanic,Not Hispanic,% Not Hispanic
19,Lane County,41039,382971,309194,0.807356,73777,0.192644,37780,0.09865,345191,0.90135

In [140]:
# Add in median household income
lane_county_df.insert(2,"Med. HHI", hhi_lane, True)

In [141]:
lane_county_df

,County,GEOCODE,Med. HHI,Total Population,White,% White,Non-White,% Non-White,Hispanic,% Hispanic,Not Hispanic,% Not Hispanic
19,Lane County,41039,48022.0,382971,309194,0.807356,73777,0.192644,37780,0.09865,345191,0.90135