In [47]:
%matplotlib inline

# Import Dependencies
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [48]:

#Files to load
census_data_to_load = os.path.join("..","Resources","Data","demographic_data.csv")
# hh_data_to_load = os.path.join("..","Resources","Data","asecpub21csv","hhpub21.csv")
gini_file_to_load = os.path.join("..","Resources","Data","Table_B19083_2020","Table_B19083_2020_data_with_overlays.csv")

In [49]:
# Read CSV file into DataFrame
census_df = pd.read_csv(census_data_to_load,low_memory=False)
census_df

,FILEID,STUSAB,SUMLEV,GEOVAR,GEOCOMP,CHARITER,CIFSN_x,LOGRECNO,GEOID,GEOCODE,...,P0050001,P0050002,P0050003,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,P0050010
0,PLST,MO,50,0,0,0,0,2,0500000US29001,29001,...,2637,279,50,20,194,15,2358,2332,0,26
1,PLST,MO,50,0,0,0,0,3,0500000US29003,29003,...,129,129,0,0,129,0,0,0,0,0
2,PLST,MO,50,0,0,0,0,4,0500000US29005,29005,...,90,77,9,0,68,0,13,0,0,13
3,PLST,MO,50,0,0,0,0,5,0500000US29007,29007,...,1896,1489,1242,0,225,22,407,0,0,407
4,PLST,MO,50,0,0,0,0,6,0500000US29009,29009,...,236,236,44,0,192,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3098,PLST,MD,50,0,0,0,0,24,0500000US24047,24047,...,745,622,218,10,387,7,123,0,0,123
3099,PLST,MD,50,0,0,0,0,25,0500000US24510,24510,...,18001,5865,2568,122,3067,108,12136,10098,0,2038
3100,PLST,DE,50,0,0,0,0,2,0500000US10001,10001,...,4081,979,111,42,764,62,3102,2813,93,196
3101,PLST,DE,50,0,0,0,0,3,0500000US10003,10003,...,15899,6348,3390,72,2747,139,9551,8232,0,1319
3102,PLST,DE,50,0,0,0,0,4,0500000US10005,10005,...,2765,2428,1300,0,1074,54,337,0,0,337

In [32]:
# # Select only the rows corresponding to county data (SUMLEV = 50). There are 36 counties in oregon so we should see 36 rows.
# oregon_counties_df = oregon_df.loc[oregon_df["SUMLEV"]==50]
# oregon_counties_df

In [50]:
#We are interested in the keeping columns relating to Population, Housing Count, 
# "NAME":"County Name"
# GEOID - code with last 5 digits equal to state fips + 0(0) + county fips
# "P0010001":"Total Population"
# "P0010003": "White alone"
# "P0010004": Black alone
# "P0010005": American Indian and Alaska Native Alone
# "P0010006": Asian Alone
# "P0010007": Native Hawaiian and Other Pacific Islander alone
# "P0010008":  Some other race alone
# "P0010009":"Population of 2 or more races"
# "P0020002":"Total Population: Hispanic Or Latino"
# "P0020003":"Total Population: Not Hispanic or Latino"

# See more: https://www2.census.gov/census_2010/01-Redistricting_File--PL_94-171/0FILE_STRUCTURE.pdf

col=["NAME","GEOID","GEOCODE","P0010001","P0010003","P0010004","P0010005","P0010006",
                "P0010007","P0010008","P0010009","P0020002","P0020003"]

df = census_df.loc[:,col]
df.head()

,NAME,GEOID,GEOCODE,P0010001,P0010003,P0010004,P0010005,P0010006,P0010007,P0010008,P0010009,P0020002,P0020003
0,Adair County,0500000US29001,29001,25314,21843,1279,51,687,13,230,1211,661,24653
1,Andrew County,0500000US29003,29003,18135,16907,156,53,89,1,82,847,391,17744
2,Atchison County,0500000US29005,29005,5305,5008,23,25,8,0,30,211,73,5232
3,Audrain County,0500000US29007,29007,24962,21648,1307,89,114,2,374,1428,731,24231
4,Barry County,0500000US29009,29009,34534,28655,106,453,811,73,1693,2743,3333,31201

In [51]:
# Calculate non-white population
df["Non-White"] = df[["P0010004","P0010005","P0010006","P0010007","P0010008","P0010009"]].sum(axis=1)

In [52]:
df.drop(columns=["P0010004","P0010005","P0010006","P0010007","P0010008","P0010009"],inplace=True)
df

,NAME,GEOID,GEOCODE,P0010001,P0010003,P0020002,P0020003,Non-White
0,Adair County,0500000US29001,29001,25314,21843,661,24653,3471
1,Andrew County,0500000US29003,29003,18135,16907,391,17744,1228
2,Atchison County,0500000US29005,29005,5305,5008,73,5232,297
3,Audrain County,0500000US29007,29007,24962,21648,731,24231,3314
4,Barry County,0500000US29009,29009,34534,28655,3333,31201,5879
...,...,...,...,...,...,...,...,...
3098,Worcester County,0500000US24047,24047,52460,41845,2078,50382,10615
3099,Baltimore city,0500000US24510,24510,585708,163026,45927,539781,422682
3100,Kent County,0500000US10001,10001,181851,107685,13981,167870,74166
3101,New Castle County,0500000US10003,10003,570719,314231,63516,507203,256488
3102,Sussex County,0500000US10005,10005,237378,175847,26793,210585,61531

In [53]:
# Rename the columns
# "P0010001":"Total Population"
# "P0010002" - Population of one race
# "P0010003": "White alone"
# "P0010004": Black alone
# "P0010005": American Indian and Alaska Native Alone
# "P0010006": Asian Alone
# "P0010007": Native Hawaiian and Other Pacific Islander alone
# "P0010008":  Some other race alone
# "P0010009":"Population of 2 or more races"
# "P0020002":"Total Population: Hispanic Or Latino"
# "P0020003":"Total Population: Not Hispanic or Latino"
# "P0020005": Total Population: Not Hispanic or Latino: White alone
# "P0020006":  Total Population: Not Hispanic or Latino: Black or African American alone
# "P0020007":  Total Population: Not Hispanic or Latino: American Indian and Alaska Native alone
# "P0020008":  Total Population: Not Hispanic or Latino: Asian alone
# "P0020009":  Total Population: Not Hispanic or Latino: Native Hawaiian and Other Pacific Islander alone 
# "P0020010": Total Population: Not Hispanic or Latino: Some other race alone
# "P0020011": Total Population: Not Hispanic or Latino: Population of two or more races
df.rename(columns={"NAME": "County",
                                        "P0010001":"Total Population",
                                        "P0010003":"White",
                                        "P0020002":"Hispanic",
                                        "P0020003":"Not Hispanic",
                                        },inplace=True)

In [9]:
# oregon_counties_pop_df = oregon_counties_pop_df[["County","GEOCODE","Total Population","White","Non-White","Hispanic","Not Hispanic"]]
# oregon_counties_pop_df

In [54]:
# Add columns for percentage of each race/ethnicity
df["% White"] = df["White"]/df["Total Population"]
df["% Non-White"] = df["Non-White"]/df["Total Population"]
df["% Hispanic"] = df["Hispanic"]/df["Total Population"]
df["% Not Hispanic"] = df["Not Hispanic"]/df["Total Population"]

In [55]:
# show final dataframe
#oregon_counties_pop_df = oregon_counties_pop_df[["County","GEOCODE","Total Population","White","% White","Non-White","% Non-White","Hispanic","% Hispanic","Not Hispanic","% Not Hispanic"]]
df

,County,GEOID,GEOCODE,Total Population,White,Hispanic,Not Hispanic,Non-White,% White,% Non-White,% Hispanic,% Not Hispanic
0,Adair County,0500000US29001,29001,25314,21843,661,24653,3471,0.862882,0.137118,0.026112,0.973888
1,Andrew County,0500000US29003,29003,18135,16907,391,17744,1228,0.932286,0.067714,0.021561,0.978439
2,Atchison County,0500000US29005,29005,5305,5008,73,5232,297,0.944015,0.055985,0.013761,0.986239
3,Audrain County,0500000US29007,29007,24962,21648,731,24231,3314,0.867238,0.132762,0.029285,0.970715
4,Barry County,0500000US29009,29009,34534,28655,3333,31201,5879,0.829762,0.170238,0.096514,0.903486
...,...,...,...,...,...,...,...,...,...,...,...,...
3098,Worcester County,0500000US24047,24047,52460,41845,2078,50382,10615,0.797655,0.202345,0.039611,0.960389
3099,Baltimore city,0500000US24510,24510,585708,163026,45927,539781,422682,0.278340,0.721660,0.078413,0.921587
3100,Kent County,0500000US10001,10001,181851,107685,13981,167870,74166,0.592161,0.407839,0.076882,0.923118
3101,New Castle County,0500000US10003,10003,570719,314231,63516,507203,256488,0.550588,0.449412,0.111291,0.888709
3102,Sussex County,0500000US10005,10005,237378,175847,26793,210585,61531,0.740789,0.259211,0.112871,0.887129

## Read Gini index data

In [44]:
gini_df = pd.read_csv(gini_file_to_load)

In [45]:
gini_df.head()

,Gini Index,Margin of Error!!Gini Index,GEOID,Geographic Area Name
0,0.4552,0.0326,0500000US01001,"Autauga County, Alabama"
1,0.4566,0.0119,0500000US01003,"Baldwin County, Alabama"
2,0.5047,0.0252,0500000US01005,"Barbour County, Alabama"
3,0.4500,0.0408,0500000US01007,"Bibb County, Alabama"
4,0.4685,0.0247,0500000US01009,"Blount County, Alabama"

In [46]:
gini_df.drop(columns=["Margin of Error!!Gini Index",'Geographic Area Name'],inplace=True)
gini_df

      Gini Index           GEOID
0         0.4552  0500000US01001
1         0.4566  0500000US01003
2         0.5047  0500000US01005
3         0.4500  0500000US01007
4         0.4685  0500000US01009
...          ...             ...
3216      0.4942  0500000US72145
3217      0.4471  0500000US72147
3218      0.5419  0500000US72149
3219      0.4987  0500000US72151
3220      0.5080  0500000US72153

[3221 rows x 2 columns]

## Merge the dataframes

In [56]:
gini_df.shape

(3221, 2)

In [57]:
df.shape

(3103, 12)

In [58]:
#movies_with_ratings_df = pd.merge(movies_df, rating_counts, left_on = 'kaggle_id', right_index = True, how = 'left')
data_frame = pd.merge(df,gini_df,how='inner',on='GEOID')

In [59]:
data_frame.shape

(3103, 13)

In [60]:
data_frame

,County,GEOID,GEOCODE,Total Population,White,Hispanic,Not Hispanic,Non-White,% White,% Non-White,% Hispanic,% Not Hispanic,Gini Index
0,Adair County,0500000US29001,29001,25314,21843,661,24653,3471,0.862882,0.137118,0.026112,0.973888,0.5398
1,Andrew County,0500000US29003,29003,18135,16907,391,17744,1228,0.932286,0.067714,0.021561,0.978439,0.4138
2,Atchison County,0500000US29005,29005,5305,5008,73,5232,297,0.944015,0.055985,0.013761,0.986239,0.4299
3,Audrain County,0500000US29007,29007,24962,21648,731,24231,3314,0.867238,0.132762,0.029285,0.970715,0.4439
4,Barry County,0500000US29009,29009,34534,28655,3333,31201,5879,0.829762,0.170238,0.096514,0.903486,0.4703
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3098,Worcester County,0500000US24047,24047,52460,41845,2078,50382,10615,0.797655,0.202345,0.039611,0.960389,0.4880
3099,Baltimore city,0500000US24510,24510,585708,163026,45927,539781,422682,0.278340,0.721660,0.078413,0.921587,0.5123
3100,Kent County,0500000US10001,10001,181851,107685,13981,167870,74166,0.592161,0.407839,0.076882,0.923118,0.4191
3101,New Castle County,0500000US10003,10003,570719,314231,63516,507203,256488,0.550588,0.449412,0.111291,0.888709,0.4607
3102,Sussex County,0500000US10005,10005,237378,175847,26793,210585,61531,0.740789,0.259211,0.112871,0.887129,0.4561