In [1]:
# import necessary libraries
import pandas as pd
import os
import glob

In [17]:
# use glob to get all the csv files in the folder
# IN order for this to work you need to download all the census files from https://www.kaggle.com/datasets/zusmani/us-census-2020
# and put them in the same folder as this notebook. 
# Note: at the time of publication, the file for Washington state is corrupt and needs to be deleted for this script to work.
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))

In [18]:
len(csv_files)

49

In [22]:
# defining an empty list to store 
# content
data_frame = pd.DataFrame()
content = []

# checking all the csv files in the 
# specified path
# for filename in csv_files:
for filename in csv_files:   
    # reading content of csv file
    # content.append(filename)
    print(filename)
    df = pd.read_csv(filename, index_col=None, low_memory=False)
    df_counties = df.loc[df["SUMLEV"]==50]
    content.append(df_counties)
  
# converting content to data frame
data_frame = pd.concat(content)

/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Missouri_MO.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Mississippi_MS.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/North_Dakota_ND.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Colorado_CO.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Ohio_OH.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Wyoming_WY.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Pennsylvania_PA.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Nevada_NV.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Massachusetts_MA.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Nebraska_NE.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Florida_FL.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Tennessee_TN.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Minnesota_MN.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Michigan_MI.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Arkansas_AR.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/New_Mexico_NM.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Idaho_ID.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Indiana_IN.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/South_Carolina_SC.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/West_Virginia_WV.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Texas_TX.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Alaska_AK.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Connecticut_CT.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Iowa_IA.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/New_Jersey_NJ.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Louisiana_LA.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/California_CA.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Hawaii_HI.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Wisconsin_WI.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Virginia_VA.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Oregon_OR.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Vermont_VT.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Oklahoma_OK.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Kansas_KS.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Georgia_GA.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/North_Carolina_NC.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/South_Dakota_SD.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Utah_UT.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Maine_ME.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Montana_MT.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Arizona_AZ.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/New_York_NY.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/New_Hampshire_NH.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Kentucky_KY.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Illinois_IL.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Rhode_Island_RI.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Alabama_AL.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Maryland_MD.csv
/Users/jennadodge/uofo-virt-data-pt-12-2021-u-b/Census_Data_2022/Delaware_DE.csv

In [23]:
data_frame.shape

(3103, 401)

In [24]:
data_frame.head()

,FILEID,STUSAB,SUMLEV,GEOVAR,GEOCOMP,CHARITER,CIFSN_x,LOGRECNO,GEOID,GEOCODE,...,P0050001,P0050002,P0050003,P0050004,P0050005,P0050006,P0050007,P0050008,P0050009,P0050010
0,PLST,MO,50,00,0,0,0,2,0500000US29001,29001,...,2637,279,50,20,194,15,2358,2332,0,26
1,PLST,MO,50,00,0,0,0,3,0500000US29003,29003,...,129,129,0,0,129,0,0,0,0,0
2,PLST,MO,50,00,0,0,0,4,0500000US29005,29005,...,90,77,9,0,68,0,13,0,0,13
3,PLST,MO,50,00,0,0,0,5,0500000US29007,29007,...,1896,1489,1242,0,225,22,407,0,0,407
4,PLST,MO,50,00,0,0,0,6,0500000US29009,29009,...,236,236,44,0,192,0,0,0,0,0

In [25]:
data_frame["GEOCODE"].value_counts()

29001    1
41001    1
41053    1
41055    1
41057    1
        ..
35027    1
35028    1
35029    1
35031    1
10005    1
Name: GEOCODE, Length: 3103, dtype: int64

In [27]:
data_frame.to_csv("demographic_data.csv", index=False)

In [9]:
# col=["NAME","GEOCODE","P0010001","P0010003","P0010004","P0010005","P0010006",
#                 "P0010007","P0010008","P0010009","P0020002","P0020003"]

# pop_df = data_frame.loc[:,col]

In [16]:
#alabama_df = pd.read_csv("Alabama_AL.csv", low_memory=False)

In [ ]:
#alabama_df = alabama_df.loc[alabama_df["SUMLEV"=="50"]]