In [14]:
# Import Dependencies
import pandas as pd
import os

In [15]:
#import zipcode dataset from https://simplemaps.com/data/us-zips
zip_code_csv = os.path.join("..","Resources","Data","uszips.csv")
zips_df = pd.read_csv(zip_code_csv,dtype={"zip": str,"county_fips":str})
zips_df

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,00601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,16773.0,100.5,72001,Adjuntas,"{""72001"": 98.76, ""72141"": 1.24}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,00602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37083.0,472.1,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
2,00603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,45652.0,513.2,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
3,00606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,6231.0,54.3,72093,Maricao,"{""72093"": 82.28, ""72153"": 11.67, ""72121"": 6.05}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,00610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,26502.0,275.7,72011,Añasco,"{""72011"": 96.71, ""72099"": 2.81, ""72083"": 0.37,...",Añasco|Moca|Las Marías|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33783,99923,55.98043,-130.03803,Hyder,AK,Alaska,True,NaN,12.0,0.3,02198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33784,99925,55.55398,-132.96276,Klawock,AK,Alaska,True,NaN,990.0,7.1,02198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33785,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,True,NaN,1582.0,4.6,02198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Metlakatla
33786,99927,56.33305,-133.60044,Point Baker,AK,Alaska,True,NaN,0.0,0.0,02198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33787,99929,56.36089,-132.00635,Wrangell,AK,Alaska,True,NaN,2509.0,0.4,02275,Wrangell,"{""02275"": 100}",Wrangell,02275,False,False,America/Sitka

In [16]:
zips_df.dtypes

zip                  object
lat                 float64
lng                 float64
city                 object
state_id             object
state_name           object
zcta                   bool
parent_zcta         float64
population          float64
density             float64
county_fips          object
county_name          object
county_weights       object
county_names_all     object
county_fips_all      object
imprecise              bool
military               bool
timezone             object
dtype: object

In [17]:
zips_df['county_fips'].value_counts()

06037    295
17031    167
04013    134
48201    132
06073    115
        ...
13005      1
13183      1
13237      1
13023      1
72001      1
Name: county_fips, Length: 3211, dtype: int64

In [18]:
zips_to_counties = zips_df[["zip","county_fips","state_id"]]

In [19]:
zips_to_counties.head()

     zip county_fips state_id
0  00601       72001       PR
1  00602       72003       PR
2  00603       72005       PR
3  00606       72093       PR
4  00610       72011       PR

In [20]:
zips_to_counties.to_csv('zips_to_counties.csv',index=False)

In [21]:
zips_to_counties.shape

(33788, 3)